


        <div class="jumbotron">
        	<div class="container">
          <h1>Ship This</h1> 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum saepe quaerat officia, enim temporibus delectus reiciendis culpa odio autem dolorem aspernatur, illo laudantium accusantium cupiditate vel earum? Iusto, ullam, similique?</p>
            </div> 
           </div>




<%= image_tag current_user.avatar.url if current_user %>

