// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.text-bg {
	background-color: rgba(255,255,255,1);
	border: 1px solid black;
	border-radius: 8px;
	width: 100%;
	color: $blue;
	text-align: center;
}




