// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.jumbotron {
	background-color: rgba(100,100,100,0.2);
	color: white;
	margin-top: 20px;

}